.themeToggleContainer {
    margin-left: 90%;
    margin-top: 16px;
}

.themeToggle {
    display: block;
    width: 112px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(103, 14, 128);
    border-radius: 32px;
    background-color: rgb(237, 174, 55);
}

.themeToggle:hover {
    cursor: pointer;
}

.themeToggleBubble-light-mode {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(103, 14, 128);
    background-color: rgb(251, 251, 251);
    margin-top: -30px;
    margin-left: 83px;
    border-radius: 12px;
}

.themeToggleBubble-dark-mode {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(103, 14, 128);
    background-color: rgb(103, 14, 128);
    margin-top: -30px;
    margin-left: 5px;
    border-radius: 12px;
}